body {
    background-color: #081b29;
    color: #ededed ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 80%;
    top: 0;
    left: 0;
    /* background-color: blueviolet; */
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: beige;
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
}

.navbar a {
    text-decoration: none;
    color: beige;
    font-size: 25px;
    font-weight: 600;
    margin-left: 35px;
}

.nabar:hover,
.navbar :active
 {
    color: aqua;
}

/* h1 {
    font-weight: 600px;
    color: antiquewhite;
} */

.section {
     display: flex;
     align-items: center;
     height: 100vh;
     padding: 0 10%;
}

.information {
    max-width: 600px;
}

.information h1{
     font-weight: 700;
     font-size: 56px;
     font-family: Arial, Helvetica, sans-serif;
}

.information h3 {
     color: aqua;
     font-size: 32px;
     font-weight: 700;
}

.information p{
    font-size: 16px;
}

.information .btn {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50%;
    /* background-color: purple; */
}

.btn a {
    letter-spacing: 1px;
    display: flex;
    /* text-align: center; */
    justify-self: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    /* border: 8px; */
    display: inline-flex;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}

.btn a:nth-child(2) {
    background-color: transparent;
    color: #00abf0;
}

.btn a:nth-child(2):hover {
    background: #00abf0;
}

.btn a:nth-child(2) ::before {
    background: #00abf0;
}

.btn :hover {
    color: #00abf0;
}

.btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    ;
    z-index: -1;
    transition: 2s;
    }

.btn a:hover::before {
    width: 100%;
}

.media {
    /* justify-content: space-between; */
    /* display: flex; */
    /* padding: 20px;
    margin: 20px; */
    text-align: center;
}